# Munging tabular data

We're going to go through how to munge tabular data in more detail (and _slowly_). The aim is for you to get comfortable with the tools we're using:

- [pandas](pandas.pydata.org) for data handling (our dataframe library)
- [seaborn](seaborn.pydata.org) for _nice_ data visualization
- [scipy](scipy.org) for scientific libraries (particularly `scipy.stats` which we'll use for fitting some more unusual probability distributions), and 
- [statsmodels](statsmodels.org) which gives us some more expressive curve fitting approaches

The other aim is to get familiar with code-sharing workflows - so we will be doing pair programming for the duration of the day! _You will probably want to take a moment to look at the documentation of the libraries above - especially pandas_

The other useful resource is Stack Overflow - if you have a question that sounds like 'how do I do {x}' then someone will probably have answered it on SO. Questions are also tagged by library so if you have a particular pandas question you can do something like going to https://stackoverflow.com/questions/tagged/pandas (just replace the 'pandas' in the URL with whatever library you're trying to use.

Generally answers on SO are probably a lot closer to getting you up and running than the documentation. Once you get used to the library then the documentation is generally a quicker reference. We will cover strategies for getting help in class.

## Git links

We will be working through using GitHub and GitKraken to share code between pairs. We will go through all the workflow in detail in class but here are some useful links for reference:

- GitKraken interface basics: https://support.gitkraken.com/start-here/interface
- Staging and committing (save current state -> local history): https://support.gitkraken.com/working-with-commits/commits
- Pushing and pulling (sync local history <-> GitHub history): https://support.gitkraken.com/working-with-repositories/pushing-and-pulling
- Forking and pull requests (request to sync your GitHub history <-> someone else's history - requires a _review_):
  - https://help.github.com/articles/about-forks/
  - https://help.github.com/articles/creating-a-pull-request-from-a-fork/

## Step 1: Reading my data

In pairs work out how to read your data into a pandas dataframe.

If you have your own tabular data please start using it here. If not, use the ATCO dataset from last week.

In [1]:
import pandas as pd
import numpy as np
from scipy import stats

# your code goes here

Once you've worked this out in the Jupyter notebook, transfer your code to a Python script (say a function called `load_data` in a file called `munging.py` in the same directory as the notebooks - you can create a text file in the Jupyter notebook home screen). Then try importing your load function with 

```python 
from munging import load_data

df = load_data('path/to/datafile')
```

In [2]:
import os

from os import path

In [3]:
data_folder = path.abspath('../data/')
data_folder

'C:\\Users\\kmalhotr\\Desktop\\workshop\\02-getting-to-know-the-tools\\data'

In [4]:
data_file = path.join(data_folder, 'Mains Faults Data_SAP_2010-2016.xlsx')
data_file

'C:\\Users\\kmalhotr\\Desktop\\workshop\\02-getting-to-know-the-tools\\data\\Mains Faults Data_SAP_2010-2016.xlsx'

In [15]:
data_folder = '../data/'
data_folder
data_file
data_file

'C:\\Users\\kmalhotr\\Desktop\\workshop\\02-getting-to-know-the-tools\\data\\Mains Faults Data_SAP_2010-2016.xlsx'

Next work out how to access a column within your dataframe. 

- How can you list all the column names? 
- There are two ways to access columns by name - try to find out what both of these are. 
- There's also methods to access columns by number - try to do this as well

Next look at how to access rows - both using labels and numbers.

In [31]:
data_file

'C:\\Users\\kmalhotr\\Desktop\\workshop\\02-getting-to-know-the-tools\\data\\Mains Faults Data_SAP_2010-2016.xlsx'

In [5]:
data_file = path.join(data_folder, 'australian_postcodes.csv')
postcodes = pd.read_csv('../data/australian_postcodes.csv')

In [7]:
postcodes

,postcode,locality,state,long,lat,dc,type
0,0,NaN,NaN,0.000000,0.000000,NaN,NaN
1,200,ANU,ACT,0.000000,0.000000,NaN,NaN
2,221,BARTON,ACT,0.000000,0.000000,NaN,NaN
3,800,DARWIN,NT,130.836680,-12.458684,NaN,NaN
4,801,DARWIN,NT,0.000000,0.000000,NaN,NaN
5,804,PARAP,NT,0.000000,0.000000,NaN,NaN
6,810,ALAWA,NT,130.866242,-12.381806,NaN,NaN
7,810,BRINKIN,NT,130.866242,-12.381806,NaN,NaN
8,810,CASUARINA,NT,130.866242,-12.381806,NaN,NaN
9,810,COCONUT GROVE,NT,130.866242,-12.381806,NaN,NaN
10,810,JINGILI,NT,130.866242,-12.381806,NaN,NaN
11,810,LEE POINT,NT,130.866242,-12.381806,NaN,NaN
12,810,MILLNER,NT,130.866242,-12.381806,NaN,NaN
13,810,MOIL,NT,130.866242,-12.381806,NaN,NaN
14,810,NAKARA,NT,130.866242,-12.381806,NaN,NaN
15,810,NIGHTCLIFF,NT,130.866242,-12.381806,NaN,NaN
16,810,RAPID CREEK,NT,130.866242,-12.381806,NaN,NaN
17,810,TIWI,NT,130.866242,-12.381806,NaN,NaN
18,810,WAGAMAN,NT,130.866242,-12.381806,NaN,NaN
19,810,WANGURI,NT,130.866242,-12.381806,NaN,NaN
20,811,CASUARINA,NT,0.000000,0.000000,NaN,NaN
21,812,ANULA,NT,130.916098,-12.404778,NaN,NaN
22,812,KARAMA,NT,130.916098,-12.404778,NaN,NaN
23,812,LEANYER,NT,130.916098,-12.404778,NaN,NaN
24,812,MALAK,NT,130.916098,-12.404778,NaN,NaN
25,812,MARRARA,NT,130.916098,-12.404778,NaN,NaN
26,812,NORTHLAKES,NT,130.916098,-12.404778,NaN,NaN
27,812,SANDERSON,NT,130.916098,-12.404778,NaN,NaN
28,812,WOODLEIGH GARDENS,NT,130.916098,-12.404778,NaN,NaN
29,812,WULAGI,NT,130.916098,-12.404778,NaN,NaN
...,...,...,...,...,...,...,...
16644,880,NHULUNBUY,NT,136.783889,-12.184210,NHULUNBUY,Delivery Area
16645,881,NHULUNBUY,NT,136.783889,-12.184210,NHULUNBUY,Post Office Boxes
16646,886,JABIRU,NT,130.893097,-12.381028,JABIRU,Delivery Area
16647,8865,SOUTH MELBOURNE,VIC,0.000000,0.000000,SOUTH MELBOURNE DC,Post Office Boxes
16648,8873,PORT MELBOURNE,VIC,0.000000,0.000000,SOUTH MELBOURNE DC,Post Office Boxes
16649,9000,BRISBANE,QLD,0.000000,0.000000,CITY DC - BRISBANE,LVR
16650,9001,BRISBANE,QLD,0.000000,0.000000,CITY DC - BRISBANE,LVR
16651,9002,BRISBANE,QLD,0.000000,0.000000,CITY DC - BRISBANE,LVR
16652,9003,BRISBANE,QLD,0.000000,0.000000,NaN,NaN
16653,9005,BRISBANE,QLD,0.000000,0.000000,CITY DC - BRISBANE,LVR
16654,9007,BRISBANE,QLD,0.000000,0.000000,CITY DC - BRISBANE,LVR
16655,9008,BRISBANE,QLD,0.000000,0.000000,CITY DC - BRISBANE,LVR
16656,9009,BRISBANE,QLD,0.000000,0.000000,CITY DC - BRISBANE,LVR
16657,9010,BRISBANE,QLD,0.000000,0.000000,CITY DC - BRISBANE,LVR
16658,9013,BRISBANE,QLD,0.000000,0.000000,CITY DC - BRISBANE,LVR
16659,9015,BRISBANE,QLD,0.000000,0.000000,CITY DC - BRISBANE,LVR
16660,9016,BRISBANE GPO BOXES,QLD,0.000000,0.000000,NaN,NaN
16661,9017,BRISBANE GPO BOXES,QLD,0.000000,0.000000,NaN,NaN
16662,9018,BRISBANE GPO BOXES,QLD,0.000000,0.000000,NaN,NaN
16663,9019,BRISBANE GPO BOXES,QLD,0.000000,0.000000,NaN,NaN
16664,9020,BRISBANE,QLD,0.000000,0.000000,CITY DC - BRISBANE,LVR
16665,9021,BRISBANE GPO BOXES,QLD,0.000000,0.000000,NaN,NaN
16666,9022,BRISBANE GPO BOXES,QLD,0.000000,0.000000,NaN,NaN
16667,9023,BRISBANE GPO BOXES,QLD,0.000000,0.000000,NaN,NaN
16668,906,WINNELLIE,NT,130.882367,-12.426641,DARWIN MC,LVR
16669,907,WINNELLIE,NT,130.882367,-12.426641,DARWIN MC,LVR
16670,9464,NORTHGATE MC,QLD,0.000000,0.000000,NaN,NaN
16671,9726,GOLD COAST MC,QLD,0.000000,0.000000,NaN,NaN
16672,9728,GOLD COAST MC,QLD,0.000000,0.000000,NaN,NaN
16673,9729,GOLD COAST MC,QLD,0.000000,0.000000,NaN,NaN

In [9]:
faults = pd.read_excel('../data/Mains Faults Data_SAP_2010-2016.xlsx')

In [10]:
faults.head()

                                      1. Data Range
0  Notifications raised between 01/01/2010 and 12...
1                                     2. Data Points
2  2.1  Pivot_Leaks_Mains Failure - Leaks due to ...
3  Following filter is applied to data through pi...
4                 1.     System Status: Exclude DLFL

To access records efficiently pandas can construct an index for your data. Find out how you set the index on your dataframe and pick a useful column (i.e. one that has a unique value for each record and can be sorted) and set this as the index.

Try selecting data using your index (especially if you have a timeseries index)

In [13]:
age = pd.read_excel("../data/Mains_Age_Profile_Estimation 250516.xlsm
age.head()

SyntaxError: EOL while scanning string literal (<ipython-input-13-dfba1ce1b2c9>, line 1)

If you get through this quickly, take a look at the [other data formats that pandas is able to read](http://pandas.pydata.org/pandas-docs/stable/api.html#input-output) and find out about these online - we can have a discussion about when you might like to use them. Pay particular attention to [`pandas.read_sql`](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_sql.html#pandas.read_sql) as that's pretty useful for ripping data from databases.

Go to [data.gov.au](https://data.gov.au) and find some other data in different formats to read and try reading it.

## Step 2: What's in my data?

First find the documentation in pandas on datatypes!

Work through the columns in your dataset and assign them to the correct datatype.

How will you find incorrect values in your data? Can you write a small function to test these? For more details on Python functions you can work through [this little tutorial on DataCamp](https://www.datacamp.com/community/tutorials/functions-python-tutorial)

Also take a look at the [`apply`](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) method for more tricky data munging that has to be carried out record-by-record

Try writing a small function to apply to one of the columns in your dataframe - here's a toy example to get you started: your function could look something like:

```python
import random
import pandas

# Make some bogus data - see random_data.py for defns
from random_data import random_dataframe

df = random_dataframe(10)

# Define our bogus function
def random_replacement(record):
    "Some of column 'a', some of column 'b'"
    return random.sample([record.a, record.b], 1)[0]

# Apply function once per record
df.apply(random_replacement, axis='columns')
```

Work out how to apply a function once per column as well.

### Step 3: Tidy my data

Work through the 'tidy data checklist' and make sure your data has been tidied!

1. Each variable you measure should be in one column.
2. Each different observation of that variable should be in a different row.
3. There should be one table for each "kind" of variable.
4. If you have multiple tables, they should include a column in the table that allows them to be linked.

This is a good overview: http://www.jeannicholashould.com/tidy-data-in-python.html

If your data is already tidy, try downloading the data from that tutorial and working through it instead.

Once you're done with this, copy your code from steps 2 and 3 over to a Python script for easier sharing. This is an example of an extract-transform-load workflow that you could share with your IT department to run automatically when your org collects more data that is similar to this.